@property --custom-variable {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}

@mixin variables() {
  --custom-variable: 5px;
}

@mixin base-style() {
	.active {
		color: #048504;
	}

	.inactive {
		color: #ea0a0a;
	}
}

// @use "./mixins" as plugin;
// :where(.selector){ @include plugin.init(); }

@mixin init() {
  & {
    @include variables();
    @include base-style();
  }
}
