@charset "UTF-8";

@use "./mixins" as plugin;

$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

body {
	font-family: $default-font;
}

:where(#my-interactive-plugin) {

	@include plugin.init();

	& {
		--custom-variable: 1px;
	}
}

.wrapper {
	width: 80%;
	height: 80dvh;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-inline: auto;
}
